<div class="container h-100 low">
    <div class=" table-responsive">
        <h3 class="text-center">Lista de Vacunas</h3>
        <div class="form-group row">
            <div class="col-xs-4 mx-auto text-center">
                <button class="btn btn-success" (click)="addNew()">Registrar vacuna</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad de dosis</th>
                    <th>Tiempo entre dosis (En días)</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccine of vaccineList" class="text-center">
                    <td>{{vaccine.name}}</td>
                    <td>{{vaccine.numberOfDoses}}</td>
                    <td>{{vaccine.timeBetweenDoses}}</td>
                    <td><button class="btn btn-info" (click)="viewVaccine(vaccine)">Ver</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-modal #modal [modalConfig]="modalConfig">
    <ul *ngIf="selectedVaccine" class="list-group">
        <li class="list-group-item">Código: {{selectedVaccine.id}}</li>
        <li class="list-group-item">Nombre: {{selectedVaccine.name}}</li>
        <li class="list-group-item">Cantidad de Dosis: {{selectedVaccine.numberOfDoses}}</li>
        <li class="list-group-item">Tiempo entre Dosis (En días): {{selectedVaccine.timeBetweenDoses}}</li>
    </ul>
</app-modal>