<div class="container h-100 low">
    <div class="card w-50 border-info mx-auto my-auto">
        <div class="card-body">
            <h5 class="card-title text-center">Registrar Vacuna</h5>
            <form>
                <div class="form-group">
                    <label for="id">Código:</label>
                    <input class="form-control" [(ngModel)]="vaccine.id" id="id" type="text" #id="ngModel" name="id"
                        required>
                </div>
                <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
                    <div *ngIf="id.errors?.required">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Nombre Vacuna:</label>
                    <input class="form-control" [(ngModel)]="vaccine.name" id="name" type="text" #name="ngModel"
                        name="name" required>
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors?.required">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberOfDoses">Cantidad de dosis:</label>
                    <input class="form-control" [(ngModel)]="vaccine.numberOfDoses" id="numberOfDoses" type="number"
                        #numberOfDoses="ngModel" name="numberOfDoses" required>
                </div>
                <div class="form-group">
                    <label for="timeBetweenDoses">Tiempo entre dosis (En días):</label>
                    <input class="form-control" [(ngModel)]="vaccine.timeBetweenDoses" id="timeBetweenDoses"
                        type="number" name="timeBetweenDoses" #timeBetweenDoses="ngModel" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="save()">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>