<div class="container h-100 low">
    <div class="card w-50 border-info mx-auto my-auto">
        <div class="card-body">
            <h5 class="card-title text-center">Registrar Paciente</h5>
            <form>
                <div class="form-group">
                    <label for="id">Carnet de Identidad:</label>
                    <input class="form-control" [(ngModel)]="patient.id" id="id" type="text" #id="ngModel" name="id"
                        required>
                </div>
                <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
                    <div *ngIf="id.errors?.required">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullName">Nombre Completo:</label>
                    <input class="form-control" [(ngModel)]="patient.fullName" id="fullName" type="text"
                        #fullName="ngModel" name="fullName" required>
                </div>
                <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="alert alert-danger">
                    <div *ngIf="fullName.errors?.required">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="age">Edad:</label>
                    <input class="form-control" [(ngModel)]="patient.age" id="age" type="number" min="18" max="110"
                        #age="ngModel" name="age" required>
                </div>
                <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
                    <div *ngIf="age.errors?.required">
                        Este campo es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="vaccine">Vacuna:</label>
                    <select class="form-control" [(ngModel)]="patient.vaccine" id="vaccine" name="vaccine"
                        #vaccine="ngModel">
                        <option *ngFor="let vaccine of vaccineList" [value]="vaccine.id">{{ vaccine.name }}</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" (click)="save()">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>